In [1]:
import numpy as np

codes = np.loadtxt("../0001/codes.txt", dtype=np.str)

In [2]:
codes

array(['i8N3Jws3', '2pSy28AM', 'fDpcQmnC', '4AsI8ewu', 'tLeno1QT',
       'aJSbb5rK', '7SyQAofH', '8dGsoGTW', 'CotmhMuh', '6ESh5aJB',
       'xxBBuw9h', 'ziF3bgwa', 'p5glGxtn', 'JVi2Rgaz', 'UFQM2j13',
       'b6bMrm73', '2iPjrjHB', 'PGus8lxA', '6Pjrr2wr', 'wn761j87',
       'ANPIeM3t', 'aP0xtcs2', '7Kuv0I4b', 'Wo3z00cT', 'jV7lMP0Z',
       'EkX2QQ5B', 'goOGUG8U', 'EEsBYRZ8', 'vV2MwgID', 's3VYge7f',
       'k1gZ6CeA', 'lIqMH0VK', '3b6fY2pp', 'O3ODcfPb', '5W2FXtMA',
       'ECAcNxzx', 'dn5yc6km', 'OnJUtlJz', 'NtVlIfIF', 'a6i9ChDA',
       'ZttUgTo6', 'TOcsV594', 'D7cRQf5M', '1bxXfeWt', 'D8TVFqju',
       'hHfqrJP1', 'NzBwoQJm', 'dCgH3SVC', 'XFmA8wDM', 'YJYPePH0',
       'xb6wu0wO', 'gV8wZdIz', 'tNLDfpI2', 'xYI7Lrkv', 'Ob3nAkLd',
       'Y6SDtxTl', 'qWYpzGHt', '2RlWtFt7', 'hjmNj1W6', 'qaGlGolC',
       'JgnizvI7', 'P5RVPa7E', 'SqoC58hu', 'z4zJk1W9', 'b0u9KzSj',
       'lyDEVnkq', '3ITZUSva', 'a2xvy9sT', 'PW3hf78N', 'wFvjRZPJ',
       'NwfSjuTO', 'KJaY6kRQ', '7KNTCjOb', 'XuMGzkux', '5fRSEaur',
       'rJ5ajPWu', 'qKeowNoI', 'QQWioYr8', 'YtppPJrd', 'jUpLHxY6',
       'YDV5ZLbH', 'zZ9gSfRJ', 'u6YKdR8Q', 'UCpwPtmB', 'LeFBGCLv',
       'LUo8Pt3w', 'SBDRpCrn', 'jW5sg2Y0', 'idhlov36', 'BlKt8Nue',
       'UUKeG7vd', 'wfc7EpOl', 'SEUdKWSe', 'OtNrHBvb', 'oVumS3PH',
       'gFblejn0', 'OmbHuMvo', 'cQt4U826', '60QgCIcK', 'vc2fgtvo',
       'WsaV6gMC', 'tNUNfoqJ', '1Wml1IcP', 'BU38LZZF', '8F3pIZGZ',
       'b0Gx2KpQ', 'si5hRnZH', 'ztJaplvf', 'PDpXDmyA', 'h0L7bbQz',
       'Pu7DA6R2', 'FubmDtN0', 'twhG1AQQ', 'MITt7bc1', '5DY2AaWX',
       'LdH4XNys', 'N5e6D90o', '0gmZQTbT', 'G5clC9xm', 'kX0nlZf6',
       'A3m05syW', 'f381r24z', 'H0czsZij', 'pJuOuk6R', '77gYezu0',
       'Is7Lo5d0', 'tE0KVXov', 'HRoB7gzL', 'YH43gJ20', 'hlIjEJOV',
       'JEavPeYI', 'e71T41xn', 'eSQixszK', 'SkETX5tl', 'XyWv3gf0',
       'uXUKilWh', 'CUhhV6Bi', 'cn6CWlk8', 'PUk4ULo9', 'Me8voJll',
       'yuiU5A4Y', 'Oq82S3HC', 'xdndpKn3', 'R7iy7BIo', 'rG3zvISF',
       '3uuYBbHp', 'w0uDytXI', 'Lb4amEKb', 'Mrdy1zJ8', 'cvEQhX58',
       'xexC9daI', 'Sm8jg9lJ', 'kgHnQBKC', '6843Tcaj', '3oB1AAJM',
       'rCaXQ5MC', 'yGp7bInR', 'Uv2a4cTk', 'dCgRsebD', 'QXovetoe',
       'SZsDTcyA', 'rDM9FC4R', 'YCqOvkNy', 'OCnTiyhT', 'Y000o1Hd',
       '94ACQlzV', '9XqN8zQg', 'MeJw7c92', 'oG7IrzWn', 'wJHDjlzB',
       'aEKmZCMg', 'OIcfymkn', 'JWk3A5R3', 'PJzyd9lo', 'bsngxWMr',
       'MyMEaFuA', 'm6rbfjlV', 'eQaOpGLp', 'yj9Sir3F', 'FLXa7Xx1',
       'KGswaTWN', 'VK1WWqdt', 'krMCUVbe', 'nPUmpbwt', 'yZlMHwUS',
       'kupCKSSg', '6uQvbsa4', '1SpUY6tK', 'NMkm9oAw', '2Rrz3aVB',
       'p25K8TDQ', 'q21S3zR8', 'hcHjfwLj', 'tOX0cv7B', 'vXBSYTce',
       'yTmmCmeq', '5pKc9sMF', '9fZuukg4', '0esHjT1Y', '3vbklwkh'],
      dtype='<U8')

In [3]:
import pymysql
import time

# Mysql数据库连接
db = pymysql.connect(host="172.17.0.1",user="jupyter",passwd="ydiiMCASzFDinztn",port=3306,db="jupyter",use_unicode=True,charset="utf8")

# 删除同名数据表
sql = "DROP TABLE IF EXISTS `coupon_code`;"
db.query(sql)

# 创建表
sql = "CREATE TABLE `coupon_code`( \
        `id` int(10) UNSIGNED NOT NULL AUTO_INCREMENT, \
        `code` varchar(32) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL DEFAULT '' COMMENT 'coupon code', \
        `createdTime` int(10) NOT NULL COMMENT 'timestamp', \
        PRIMARY KEY (`id`) USING BTREE \
      ) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;"
db.query(sql)

0

In [4]:
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()

for code in codes:
    sql = "INSERT INTO coupon_code (`code`, `createdTime`) values('%s', %d)" % (code , int(time.time()))
    sql.encode('utf-8')
    cursor.execute(sql)

# 提交数据到数据库
db.commit()
# 关闭数据库连接
db.close()